<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="乐少v3"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="乐少助手 V3 - 微信多功能辅助模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="102" />
        <meta-data
            android:name="xposedscope"
            android:value="com.tencent.mm" />

        <activity
            android:name="com.leshao.v3.SettingsActivity"
            android:exported="true"
            android:label="乐少助手"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="com.leshao.v3.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
